/*.App {*/
/*    padding: 30px;*/
/*    display: flex;*/
/*}*/

/*.App > div {*/
/*    margin-right: 50px;*/
/*}*/

.error {
    border: red 2px solid;
    outline: none;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: #AFD4FF;
}

.is-done {
    opacity: 0.5;
}

.button-removed {
    background-color: #AFD4FF;
    margin-left: 5px;
    padding: 0;
    cursor: pointer;
    width: 15px;
    height: 20px;
}

.button-removed:hover {
    background-color: red;
}

body {
    background-color: #f6e997;
    /*background-color: #17212B;*/
    /*color: #F5F5F5;*/
}